* {
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}
#Main {
    width: 30%;
    height:760px;
    background-color:#4B543B ;
    display: block;
    float: left;
}
#Main-direito {
    width: 70%;
    display: block;
    float: right;
    background-color: #B57F50;
    height: 760px;
}
.img-perfil {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    border: solid 4px #B4D2BA;
    margin-left: 90px;
    margin-top: 235px;
}
.conteudo-esq a, p {
    text-align: center;
    margin-top: 20px;
    text-decoration: none;
    
}
.conteudo-esq p:hover {
    color: #B4D2BA;
    text-decoration: none;
}
.conteudo-esq a:visited {
    color: #8ED081;
}
.icones {
    width: 50px;
    margin-top: 80px;
    margin-left: 200px;
}
.titulo {
    margin-top: 300px;
    text-align: center;
}
.conteudo-dir {
    margin-top: 50px;
    text-align: center;
}
.conteudo-dir2 {
    margin-top: 200px;
    text-align: center;
}
